<%- include('./admin_header.ejs', { title: 'Панель управления', user: user, error: error, success: success }) %>
<p>Добро пожаловать, администратор <strong><%= user.username %></strong>!</p>
<%- include('../partials/footer.ejs') %>