<%- include('../partials/header.ejs', { title: 'Создать команду', user: user }) %>
<h1>Создать команду</h1>
<form action="/team/create" method="POST">
  <div class="form-group">
    <label for="teamName">Название команды</label>
    <input type="text" name="teamName" id="teamName" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="githubLink">GitHub-ссылка</label>
    <input type="url" name="githubLink" id="githubLink" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Создать команду</button>
</form>
<%- include('../partials/footer.ejs') %>
