<%- include('../partials/header.ejs', { title: 'Главная', user: user }) %>

<div class="jumbotron main-content">
  <h1 class="display-4">Добро пожаловать на платформу хакатона!</h1>
  <p class="lead">Здесь вы найдёте кейсы, создадите свою команду и сможете участвовать в мероприятиях.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/cases" role="button">Посмотреть кейсы</a>
</div>
<%- include('../partials/footer.ejs') %>
